.quick-links__root {
  display: flex;
  gap: 20px;
  z-index: 10;
  pointer-events: all;
}

.quick-links__container {
  height: 40px;
  background-color: var(--light-green);
  border-radius: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-sizing: border-box;
}

@media (min-width: 601px) and (max-width: 1000px) {
  .quick-links__container {
    height: 35px;
  }
}

@media (max-width: 600px) {
  .quick-links__container {
    gap: 30px;
  }
}

@media (max-width: 350px) {
  .quick-links__container {
    gap: 20px;
  }
}

.quick-links__about-button {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 0 5px rgba(217, 224, 235, 1);
}

.social-link {
  display: inline-flex;
  flex-shrink: 0;
  width: 26px;
  height: 26px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-clip: content-box;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  padding: 1px;
}

.social-link--artstation {
  background-image: url("/svg/social-networks/artstation.svg");
}

.social-link--github {
  background-image: url("/svg/social-networks/github.svg");
}

.social-link--instagram {
  background-image: url("/svg/social-networks/instagram.svg");
}

.social-link--linkedin {
  background-image: url("/svg/social-networks/linkedin.svg");
}

.social-link--email {
  background-image: url("/svg/social-networks/mail.svg");
}

.social-link--whatsapp {
  background-image: url("/svg/social-networks/whatsapp.svg");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
