.quick-links {
  display: flex;
  gap: 20px;
  z-index: 12;
  position: absolute;
  top: 270px;
  left: 40px;
}

.quick-links__container {
  height: 40px;
  background-color: var(--light-green);
  border-radius: 20px;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 7px;
  box-sizing: border-box;
}

.quick-links__about-button {
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  box-shadow: 0 0 5px rgba(217, 224, 235, 1);
}

.social-link {
  display: block;
  width: 25px;
  height: 25px;
  text-decoration: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(1);
}

@media (hover: hover) and (pointer: fine) {
  .social-link:hover {
    transform: scale(1.8);
  }
}

@media (hover: none) and (pointer: coarse) {
  .social-link:active {
    transform: scale(1.8);
  }

  .social-link {
    transition: transform 0.3s ease-in-out;
  }
}

.social-link--artstation {
  background-image: url('/svg/social-networks/artstation.svg');
}

.social-link--github {
  background-image: url('/svg/social-networks/github.svg');
}

.social-link--instagram {
  background-image: url('/svg/social-networks/instagram.svg');
}

.social-link--linkedin {
  background-image: url('/svg/social-networks/linkedin.svg');
}

.social-link--email {
  background-image: url('/svg/social-networks/mail.svg');
}

.social-link--whatsapp {
  background-image: url('/svg/social-networks/whatsapp.svg');
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
