.mobile-menu {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  pointer-events: all;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.mobile-menu__header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-menu__list li {
  margin: 15px 0;
}

.mobile-menu__list a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.menu__button_type_light {
  color: #d9e0eb;
}
