.mobile-menu__burger {
  background-color: transparent;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  pointer-events: all;
}

.mobile-menu__burger_type_open {
  background-image: url('/svg/close-menu-icon.svg');
}
.mobile-menu__burger_type_closed {
  background-image: url('/svg/menu-icon.svg');
}

.mobile-menu {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  /* background: #646464; */
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  /* transform: translateY(-100%); */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  pointer-events: all;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.mobile-menu__header {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

.mobile-menu__list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.mobile-menu__list li {
  margin: 15px 0;
}

.mobile-menu__list a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
}

.menu__button_type_light {
  color: #d9e0eb;
}
