.bio {
  max-width: 700px;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 12;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.bio__about {
  padding-bottom: 20px;
}

.bio h1 {
  font-family: var(--font-antic);
  font-weight: 700;
  font-size: clamp(60px, 90px, 90px);
  line-height: clamp(58px, 37px, 37px);
  color: var(--gray);
  /* letter-spacing: 2px; */
  margin-bottom: 30px;
  text-shadow: 0 0 5px rgba(217, 224, 235, 1);
}

.bio p {
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: clamp(14px, 24px, 24px);
  line-height: clamp(18px, 28px, 28px);
  text-shadow: 0 0 5px rgba(217, 224, 235, 1);
  max-width: 585px;
  letter-spacing: 2.8px;
}
