.menu {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 11;
}

@media (min-width: 501px) and (max-width: 1000px) {
  .menu {
    right: 40px;
  }
}

@media (min-width: 351px) and (max-width: 500px) {
  .menu {
    top: 20px;
    right: 20px;
  }
}

.menu__box {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: flex-start;
  align-items: flex-start;
}

@media (min-width: 501px) and (max-width: 1000px) {
  .menu__box {
    gap: 20px;
  }
}

.menu__button {
  border: none;
  font-family: var(--font-inter);
  font-size: 20px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
  background: transparent;
  width: fit-content;
}

@media (min-width: 501px) and (max-width: 1000px) {
  .menu__button {
    font-size: 14px;
  }
}

.menu__icon-button {
  width: 25px;
  height: 25px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: inline-block;
  background-color: var(--gray);
}

/* .menu__icon-button::before {
  content: '';
  position: absolute;
  top: -5mm;
  left: -5mm;
  right: -5mm;
  bottom: -5mm;
  cursor: pointer;

} */

.menu__icon-button_type_about-me {
  background-image: url('/svg/about-me.svg');
}

.menu__icon-button_type_mail {
  background-image: url('/svg/mail.svg');
}

.menu__icon-button_type_sound {
  background-image: url('/svg/sound-off.svg');
  background-color: transparent;
}

/* .menu__item_type_sound {
  position: absolute;
  top: 40px;
  right: 80px;
  z-index: 11;
} */
