.modal-wrapper-root {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 12;
  pointer-events: none;
}

.modal-wrapper_type_footer {
  background-color: var(--pale-lavender);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.modal-wrapper_type_mobile-menu,
.modal-wrapper_type_about-me,
.modal-wrapper_type_mail,
.modal-wrapper_type_default {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(100px) contrast(120%) saturate(130%);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.modal-wrapper {
  height: 100%;
  pointer-events: none;
  transition: transform 0.5s ease;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-wrapper-root_type_active {
  z-index: 1011;
}

.modal-wrapper-root:not(.modal-wrapper-root_type_active) {
  z-index: 12;
}

@keyframes modal-wrapper-bounce-in {
  0% {
    transform: scaleY(0);
  }
  70% {
    transform: scaleY(1.08);
  }
  90% {
    transform: scaleY(0.96);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes modal-wrapper-bounce-out {
  0% {
    transform: scaleY(1);
  }
  30% {
    transform: scaleY(1.08);
  }
  100% {
    transform: scaleY(0);
  }
}

.modal-wrapper__animated-wrapper {
  position: absolute;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 100%;
  box-sizing: border-box;
  transform-origin: bottom center;
  transition: transform 0.5s ease;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.modal-wrapper__animated-wrapper.modal-wrapper_active {
  animation: modal-wrapper-bounce-in 0.5s ease forwards;
}

.modal-wrapper__animated-wrapper:not(.modal-wrapper_active) {
  animation: modal-wrapper-bounce-out 0.5s ease forwards;
}

.modal-wrapper__close-button {
  position: absolute;
  top: -10px;
  left: calc(50% - 7px);
  width: 25px;
  height: 25px;
  border: none;
  cursor: pointer;
  z-index: 2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-image: url("/svg/close.svg");
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  pointer-events: auto;
  animation: all 0.5s ease-out;
  transform-origin: center;
}

@media (max-width: 1000px) {
  .modal-wrapper__close-button {
    background-image: none;
    top: 10px;
    left: calc(50% - 25px);
    width: 50px;
    height: 3px;
    background-color: var(--light-gray);
    border-radius: 1.5px;
  }

  /*не удалять*/
  /* .modal-wrapper__close-button::after {
    content: 'Tech Stack';
  } */
}

.modal-wrapper__close-button::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  cursor: grab;
}

.modal-wrapper__container {
  touch-action: pan-y;
  pointer-events: auto;
  height: 70%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--light-gray) transparent;
}

.modal-wrapper__container::-webkit-scrollbar {
  width: 5px;
}

.modal-wrapper__container::-webkit-scrollbar-track {
  background: transparent;
}

.modal-wrapper__container::-webkit-scrollbar-thumb {
  background-color: var(--light-gray);
  border-radius: 5px;
}

.modal-wrapper__container::-webkit-scrollbar-thumb:hover {
  background-color: var(--light-gray);
}

.modal-wrapper__container_clickable {
  pointer-events: auto;
  transition: all 0.3s ease-in-out;
}
