.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: 40px 0;
  box-sizing: border-box;
  background-color: var(--light-green);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 11;
  transition: right 0.5s ease;
}

.sidebar__slider {
  border: var(--gray) solid 2px;
  padding: 7px;
  border-radius: 20px;
}

.sidebar__slider-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.sidebar__slider-container .sidebar__slider-button:last-child {
  background-color: transparent;
  border: 2px solid var(--gray);
}

.sidebar__slider-button {
  background-color: var(--gray);
  width: 0.9vw;
  height: 0.9vw;
  border-radius: 50%;
  cursor: pointer;
  transition: height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  position: relative;
  border: none;
}

.sidebar__slider-button.active::before {
  cursor: auto;
}

.sidebar__slider-button.active {
  height: 130px;
  border-radius: 65px;
  overflow: hidden;
  transform: scale(1) !important;
}

.sidebar__slider-button::before {
  pointer-events: auto;
  content: '';
  position: absolute;
  top: -30px;
  left: -15px;
  right: -15px;
  bottom: -30px;
  z-index: 12;
  cursor: pointer;
}

.sidebar__addition-button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 50%;
  transition: all 0.3s ease;
  background-color: var(--gray);
}

.sidebar__addition-button:hover {
  transform: scale(1.5);
}

@media (hover: none) and (pointer: coarse) {
  .sidebar__addition-button:active {
    transform: scale(1.5);
    /* opacity: 0.9; */
  }

  .sidebar__addition-button {
    transition: transform 0.3s ease-in-out;
  }
}

@media (min-width: 1500px) {
  .sidebar__slider-button {
    width: 0.6vw;
    height: 0.6vw;
  }
}

@media (min-width: 2500px) {
  .sidebar__slider-button {
    width: 0.4vw;
    height: 0.4vw;
  }
}

.sidebar__tooltip-wrapper {
  position: relative;
  display: inline-block;
}

/* @media (max-width: 1200px) {
  .overlay__sidebar {
    width: 5vw;
  }
}

@media (max-width: 600px) {
  .overlay__sidebar {
    width: 9vw;
  }

  .sidebar__slider-button {
    width: 2vw;
    height: 2vw;
  }

  .sidebar__slider-button::before {
    top: -4vw;
    left: -4vw;
    right: -4vw;
    bottom: -4vw;
  }
} */
