.sidebar {
  position: absolute;
  box-sizing: border-box;
  background-color: var(--light-green);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 1013; /*не уменьшать, перекрывает значения gsap анимированного элемента*/
}

.sidebar--vertical {
  top: 0;
  right: 0;
  width: 40px;
  height: 100%;
  padding: 40px 0;
  flex-direction: column;
}

.sidebar--horizontal {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 0 40px;
  flex-direction: row;
}

@media (max-width: 800px) {
  .sidebar--horizontal {
    padding: 0 10px;
  }
}

.sidebar__addition-button {
  position: relative;
  width: 25px;
  height: 25px;
  aspect-ratio: 1 / 1;
  border: none;
  border-radius: 50%;
  background-color: var(--gray);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0;
}

.sidebar__addition-button::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  cursor: pointer;
  z-index: 12;
}

@media (hover: none) and (pointer: coarse) {
  .sidebar__addition-button {
    transition: transform 0.3s ease-in-out;
  }
}

.sidebar__slider {
  border: var(--gray) solid 2px;
  padding: 7px;
  border-radius: 20px;
}

.sidebar__slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.sidebar__slider-container--vertical {
  flex-direction: column;
}

.sidebar__slider-container--horizontal {
  flex-direction: row;
  gap: 40px;
}

.sidebar__slider-button {
  background-color: var(--gray);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}

.sidebar__slider-button::before {
  pointer-events: auto;
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  z-index: 12;
  cursor: pointer;
}

.sidebar__slider-button.active {
  height: 130px;
  width: 12px;
  border-radius: 65px;
  overflow: hidden;
  transition: height 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.sidebar__slider-container--horizontal .sidebar__slider-button.active {
  width: 130px;
  height: 12px;
  border-radius: 65px;
  transition: width 0.5s ease-in-out, border-radius 0.5s ease-in-out;
}

.sidebar__slider-container .sidebar__slider-button:last-child {
  background-color: transparent;
  border: 2px solid var(--gray);
}

@media (min-width: 1500px) {
  .sidebar__slider-button {
    width: 12px;
    height: 12px;
  }
}

.sidebar__tooltip-wrapper {
  position: relative;
  display: inline-block;
}

/**/
@media (max-width: 360px) {
  .sidebar__slider-container--horizontal {
    gap: 7vw;
  }
}

@media (max-width: 335px) {
  .sidebar__slider-container--horizontal {
    gap: 3vw;
  }
}
